.container{
    width: 90%;
   
}
.policyList{
    width: 80%;
    margin: 0px auto;
    font-size: 20px;
    font-family: cursive;
   

}

.lorem{
    margin-bottom: 2rem;
}
.mmmm{
    margin-bottom: 15rem;
}
.textThank{
    color: black;
}